*{
box-sizing:border-box;
font-family:Arial,sans-serif;
}



body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:
linear-gradient(
135deg,
#0f2027,
#203a43,
#2c5364
);


color:white;

}




.container{

text-align:center;

}




h1{

font-size:50px;

animation:
fadeIn 1s;

}




#status{

font-size:24px;

margin:20px;

}





.scoreboard{

display:flex;

justify-content:center;

gap:15px;

margin-bottom:25px;

}



.scoreboard div{

background:
rgba(255,255,255,0.15);

padding:12px;

border-radius:12px;

}





.board{

position:relative;

display:grid;

grid-template-columns:
repeat(3,100px);

gap:12px;

justify-content:center;

}




.cell{

height:100px;

width:100px;


background:
rgba(255,255,255,0.1);


border-radius:15px;


border:
2px solid rgba(255,255,255,.3);



display:flex;

justify-content:center;

align-items:center;



font-size:55px;

font-weight:bold;


cursor:pointer;


transition:.3s;


}



.cell:hover{

transform:
scale(1.1);


background:#0f3460;

}




.cell:not(:empty){

animation:
pop .3s;

}





.winning-line{


position:absolute;


height:8px;


background:#ff4757;


border-radius:10px;


width:0;


z-index:5;


box-shadow:
0 0 20px red;


transition:.5s;


}




button{


margin-top:30px;


padding:15px 30px;


font-size:18px;


border:none;


border-radius:12px;


background:#ff4757;


color:white;


cursor:pointer;


transition:.3s;


}



button:hover{

transform:
scale(1.1)
rotate(-2deg);

}




@keyframes pop{

0%{
transform:scale(0);
}

70%{
transform:scale(1.2);
}

100%{
transform:scale(1);
}

}




@keyframes fadeIn{

from{

opacity:0;

transform:
translateY(-30px);

}


to{

opacity:1;

}

}





@media(max-width:600px){


.board{

grid-template-columns:
repeat(3,80px);

}


.cell{

height:80px;

width:80px;

font-size:40px;

}

}
